$textColor: #202020;
$primary: #ff454f;

.text-light {
    color: $textColor;
    font-weight: 300;
}

.btn {
    border-radius: 50px;

    &.btn-primary {
        background-color: $primary;
        border-color: $primary;

        &:hover {
            background-color: darken($primary, 3);
        }
    }
}

html,
body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px !important;
}

.container-xxl {
    padding: 0 112px;    
}

header {
    padding: 36px 0;
    display: flex;
    justify-content: space-between;


    .logo img {
        width: 305px;
    }

    .menu {
        display: flex;
        align-items: center;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            li {
                margin-right: 16px;

                a {
                    color: $textColor;
                    text-decoration: none;
                    transition: .2s;
                    font-weight: 500;

                    &:hover {
                        color: $primary;
                        transition: .2s;
                    }
                }

                &.pipe {
                    a {
                        font-weight: bold;
                    }

                    &:before {
                        content: '|';
                        margin-right: 12px;
                    }
                }
            }
        }

        .lang-select {
            border: 0;
            color: $primary;
            width: 50px;
            padding-right: .95rem;
            background-image: url('./../img/dropdown.svg');
            background-position: 100% 54%;

            option {
                color: $textColor;
            }
        }
    }
}

section.hero {
    display: flex;
    justify-content: space-between;
    height: 68vh;

    .big-box {
        background: url('./../img/martelo.jpg') center/cover no-repeat;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        padding: 40px;
        margin-right: 12px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: 410px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,.8) 100%);
        }

        h1 {
            text-transform: uppercase;
            font-size: 1.8rem;
        }

        span,
        strong,
        p {
            color: #fff !important;
        }

        h1,
        p {
            position: relative;
            z-index: 1;
        }

        p {
            margin: 0;
            font-size: 1rem;
        }
    }

    .small-boxes {
        height: 100%;
    }

    .small-box {
        background-color: #282a3b;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: calc(50% - 6px);
        min-height: 240px;

        &:first-child {
            margin-bottom: 12px;
        }

        &:last-child {
            margin-top: 12px;
        }

        figure {
            height: 100%;
            width: 45%;
            overflow: hidden;
            text-align: center;
            border-radius: 20px;
            flex-shrink: 0;
            margin: 0;
            padding: 0;

            img {
                height: 100%;
            }
        }

        .content {
            color: #fff;
            padding: 22px;

            small,
            h2,
            .highlight {
                text-transform: uppercase;
            }

            small {
                font-size: .9rem;
            }

            h2 {
                font-weight: 700;
                font-size: 1.4rem;
            }

            .highlight {
                color: $primary;
                font-weight: 600;
            }

            p {
                font-size: .9rem;
                margin: 6px 0;
            }

            .footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 18px;

                .btn {
                    text-transform: uppercase;
                    font-size: .9rem;
                    padding: 10px 40px;
                }
            }
        }
    }
}